# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Documents et index vectoriel
data/*.pdf
data/faiss_index/

# macOS
.DS_Store

*_solution.*

.chainlit